body {
    font-family: 'Minecraftia', sans-serif; /* Minecraft-Schrift für die gesamte Seite */
    background-color: #818181;
    color: #24292e;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #0366d6;
}

.tooltip {
    background-color: #2d2d2d;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Minecraftia', sans-serif;
    text-align: left;
    min-height: 100px;
    white-space: pre-wrap;
}

.tooltip-name {
    color: #FFAA00; /* Gold (Standardfarbe für Item Name) */
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.tooltip-lore {
    color: #AA00AA; /* Lila (Standardfarbe für Item Lore) */
    font-size: 12px;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    font-family: 'Minecraftia', sans-serif; /* Minecraft-Schriftart */
    font-size: 14px;
}

.color-buttons, .symbols {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

footer {
    background-color: #1a1a1a; /* Dunkler Streifen */
    color: #ffffff; /* Weißer Text für Überschriften */
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer h2 {
    font-size: 16px; /* Kleinere Schriftgröße für Überschriften */
    margin-bottom: 10px;
    text-transform: uppercase; /* Optional: Überschriften in Großbuchstaben */
}

footer ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px; /* Platz zwischen den Gruppen */
}

footer ul li {
    margin: 5px 0; /* Abstand zwischen Links */
}

footer a {
    color: #aaaaaa; /* Helle Textfarbe für Links */
    font-size: 12px; /* Kleinere Schriftgröße für Links */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

footer a:hover {
    color: #ffffff; /* Links werden weiß, wenn man darüber fährt */
}

.footer-container {
    display: flex;
    justify-content: center; /* Zentriere die Gruppen nebeneinander */
    flex-wrap: wrap; /* Ermöglicht Umbruch bei kleineren Bildschirmen */
}

footer {
    border-top: 2px solid #333333; /* Zeigt das Ende der Seite an */
}
