body {
    font-family: 'Minecraftia', sans-serif; /* Minecraft-Schrift für die gesamte Seite */
    background-color: #f6f8fa;
    color: #24292e;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #0366d6;
}

.tooltip {
    background-color: #2d2d2d;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Minecraftia', sans-serif;
    text-align: left;
    min-height: 100px;
    white-space: pre-wrap;
}

.tooltip-name {
    color: #FFAA00; /* Gold (Standardfarbe für Item Name) */
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.tooltip-lore {
    color: #AA00AA; /* Lila (Standardfarbe für Item Lore) */
    font-size: 12px;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    font-family: 'Minecraftia', sans-serif; /* Minecraft-Schriftart */
    font-size: 14px;
}

.color-buttons, .symbols {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

footer {
    margin-top: 30px;
}

footer h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #0366d6;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: #0366d6;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
